trigger:
 branches:
    include:
      - main

pool:
 name: Default

stages:
  -  stage: 
     jobs:
       -  job:
          displayName: Terraform install
          steps:
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'
          
      
